
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation to importatn website</title>
</head>
<body>
    <h1>Navigation to important website</h1>
    <div>
        <ul>
            <li><a href = "https://www.w3schools.com/cpp/default.asp">W3 School </a></li>
            <li><a href = "https://pingala.iitk.ac.in/IITK-0/login#">Pingala</a></li>
        </ul>
    </div>
</body>
</html>